<section class="product_main_inner">
  <div class="page-width">
    <div class="product_main_wrapper">
        <div class="product_main_gallery">
            {% render 'custom_gallery' product: product, block: blocks  %}
        </div>
        <div class="product_main_content"></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Product Main",
    "settings": [
     
    ],
    "presets": [
        {
        "name": "Product Main"
        }
    ]
  }
{% endschema %}