git remote -v
<style>
    .custom_gallery_slider  img{
        width: 100%;
    }
</style>


<div class="product_gallery">
<div class="custom_gallery_slider mySwiper">
  <div class="swiper-wrapper">
    test
    {% for media in product.media %}
      <div class="swiper-slide">
        <img src="{{ media.preview_image | image_url }}">
      </div>
    {% endfor %}
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Product Main",
    "settings": [
     
    ],
    "presets": [
        {
        "name": "Product Main"
        }
    ]
  }
{% endschema %}